$('#task').html("<%= escape_javascript render(@task)%>")
$('#task_alert_area').html("<div class='alert alert-warning'>Task Deleted!</div>")
setTimeout((function() {
  $('#task_alert_area').hide('blind', {}, 50);
}), 3000);