<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= @schedule.title %></h4>
</div>
<div class="modal-body">
  This schedule was created On: <%= @schedule.created_at.strftime("%B %d, %Y") %><br>
  By: <%= @schedule.users.first.name %><br>
  <% unless @schedule.users.count == 1%>
    With: 
    <% @schedule.users.each do |user| %>
      <%= "#{user.name} " unless user == current_user %>
    <% end %>
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>

